log:
 level: info

plugins:
  - tag: forward
    type: forward
    args:
      upstreams:
        - addr: "223.5.5.5"  # 阿里 DNS
          # dial_addr: "223.5.5.5"  # 阿里 DNS
          # socks5: "127.0.0.1:7897"
          # insecure_skip_verify: true
          # bootstrap: 223.5.5.5
          # enable_pipeline: true
        # 当配置多个上游服务器时，会自动启用并发模式
        # - addr: "119.29.29.29"  # 腾讯 DNS
        # - addr: "114.114.114.114"  # 114 DNS
  - tag: print
    type: print
    args:
      before:
        - from {src_addr}
      after:
        - response success

  - tag: cache
    type: cache
    args:
      short_circuit: true
      dump_file: "./dns_cache.dump"
      dump_interval: 10

  - tag: seq
    type: sequence
    args:
      - matches: ["qtype A", "qname example.com"]
        exec: $cache
      - exec: forward 223.5.5.5

  # - tag: only_a
  #   type: qtype
  #   args: ["A"]
  #
  # - tag: has_cached_resp
  #   type: has_resp
  #
  # - tag: rollout_gate
  #   type: random
  #   args: ["0.1"]
  #
  # - tag: only_noerror
  #   type: rcode
  #   args: ["NOERROR"]

  - tag: "udp_server"
    type: "udp_server"
    args:
      entry: "seq"
      listen: "0.0.0.0:5367"
